<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Create Website</div>
    <div class="page__content shadow p-3 position-relative">
      <!-- <div class="page__content-data position-absolute text-center"> -->
        <div class="" >
        

        <!-- data -->
        <div>
            <a [routerLink]="['/admin/home']" class="btn rounded-btn"><mat-icon>reply</mat-icon></a>
        </div>
       <form class="page" (ngSubmit)="Submit()" [formGroup]="this.formBlog" style="color: black;">
            <div class="form-group">
                <label for="formGroupExampleInput">Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="name" placeholder="nameTravel">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">address</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="address" placeholder="address">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">price</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="price" placeholder="price">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">content</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="content" placeholder="content">
            </div>
                <div class="form-group">
                    <label>Image</label>
                    <div class="custom-file mb-3">
                      <input type="file"  class="custom-file-input" accept="image/*" (change)="handleFileInput($event.target.files)" required>
                    </div>
                    <div class="form-ground" >
                      <img [src]="imageUrl" style="width:250px;height:200px"  >
                    </div>
                </div>
                <input type="submit" value="Create">
        </form>
        <!-- data -->


      </div>
    </div>
  </div>
