<div class="view">
    <img src="../../../assets/img/vithe.jpg" class="img-fluid" alt="" width="100%">
    <div class="mask flex-center rgba-blue-light">
      <div class="text-white text-center py-5 px-4 my-5">
        <div>
          <h1 class="h1 py-5 font-weight-bold"><strong>404</strong></h1>
          <!-- <p class="mx-5 mb-5">Không chỉ là trang web du lịch, còn là trang web hỗ trợ cho bạn biết thêm về các địa danh nổi tiếng.
          </p> -->
          <!-- <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
            <mdb-icon fas icon="clone" class="left"></mdb-icon>View project
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid page">
    <div class="page__content position-relative">
      <div class="page__content-data position-absolute text-center">
  
          <!--data-->
          <h1>Link trang không tồn tại 
          </h1>
          <!--data-->
  
  
      </div>
    </div>
  </div>
