<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.svg" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Admin</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">
      <mat-icon>dashboard</mat-icon> <b>Dashboard</b>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/home">
      <mat-icon>home</mat-icon> <b>Quản Lý Sản phẩm</b>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/userlist">
      <mat-icon>account_circle</mat-icon><b>Quản lý tài khoản</b>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/oderadmin">
      <mat-icon>shopping_cart</mat-icon><b>Quản lý giỏ hàng</b>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/oderbuy">
      <mat-icon>local_mall</mat-icon><b>Hàng đã thanh toán</b>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/talk">
      <mat-icon>support_agent</mat-icon><b>Hỗ trợ khách hàng</b>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/news">
      <mat-icon>article</mat-icon><b>Quản lý tin tức</b>
    </a>
    <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a> -->
  </mat-nav-list>
  
