<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Thêm mới tin tức</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="">
  
          <!--data-->
          <div>
            <a [routerLink]="['/admin/news']" class="btn rounded-btn"><mat-icon>reply</mat-icon></a>
        </div>
       <form class="page" (ngSubmit)="Submit()" [formGroup]="this.formNews" style="color: black;">
            <div class="form-group">
                <label for="formGroupExampleInput">Tên tin tức</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="name" placeholder="Tên tin tức">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Nội dung</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="content1" placeholder="Nội dung">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Nội dung</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="content2" placeholder="Nội dung">
            </div>
                <div class="form-group">
                    <label>Image</label>
                    <div class="custom-file mb-3">
                      <input type="file"  class="custom-file-input" accept="image/*" (change)="handleFileInput($event.target.files)" required>
                    </div>
                    <div class="form-ground" >
                      <img [src]="imageUrl" style="width:250px;height:200px"  >
                    </div>
                </div>
                <input type="submit" value="Create">
        </form>
          <!--data-->
  
  
      </div>
    </div>
  </div>
  
