<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar ftco_navbar ftco-navbar-light">
  <a class="mr-5 ml-5" href="index.html"><img src="../../../assets/images/LogoTravel.jpg" width="150px"></a>
  <div class="container">
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-5">
        <li class="nav-item"><a href="/homeweb" class="nav-link" mdbWavesEffect >Trang chủ</a></li>
        <!-- <li class="nav-item"><a href="/" class="nav-link" mdbWavesEffect >About</a></li> -->
        <li class="nav-item"><a href="/blog" class="nav-link" mdbWavesEffect >Blog</a></li>
        <li class="nav-item"><a href="/news" class="nav-link" mdbWavesEffect >Tin tức</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link" mdbWavesEffect >Contact</a></li>
      </ul>
    </div>
  </div>
  <!-- {{user?.userName}} -->
  <div class="dropdown" mdbDropdown >
    <button mdbDropdownToggle type="button" mdbBtn color="" class="dropdown-toggle waves-light" style="box-shadow:none"
      mdbWavesEffect>
      {{user?.userName}}
    </button>
  
    <div class="dropdown-menu">
      <div *ngIf="user">
        <a *ngIf="role === 1" routerLink="/admin" class="dropdown-item">Tới trang Admin</a>
        <a *ngIf="role === 2" routerLink="/" class="dropdown-item" >Xem thông tin</a>
      </div>
      <li class="nav-item" *ngIf="!user">
        <a [routerLink]="['/register']" class="dropdown-item" >Đăng kí</a>
      </li>
      <div class="divider dropdown-divider"></div>
      <li class="nav-item" *ngIf="!user">
        <a [routerLink]="['/login']" class="dropdown-item">Đăng nhập</a>
      </li>
      <li  *ngIf="user">
        <a (click)="logout()" class="dropdown-item" href="http://localhost:4200/homeweb">
        Đăng xuất</a>
      </li>
    </div>
  </div>
</nav>