<div class="view">
  <img src="../../../assets/img/vithe.jpg" class="img-fluid" alt="" width="100%">
  <div class="mask flex-center rgba-blue-light">
    <div class="text-white text-center py-5 px-4 my-5">
      <div>
        <!-- <h2 class="h1 py-5 font-weight-bold"><strong>Chào mừng bạn ghé thăm</strong></h2>
        <p class="mx-5 mb-5">Không chỉ là trang web du lịch, còn là trang web hỗ trợ cho bạn biết thêm về các địa danh nổi tiếng.
        </p> -->
        <!-- <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon>View project
        </a> -->
      </div>
    </div>
  </div>
</div>

<section class="text-center jumbotron">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">Bạn muốn đi tham quan?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text">Không chỉ là trang web du lịch, còn là trang web hỗ trợ cho bạn biết thêm về các địa danh nổi tiếng.</p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="chart-area" size="3x" class="red-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Phân tích</h5>
      <p class="grey-text">Là nơi lưu trữ các địa điểm du lịch trên mảnh đất hình chữ S, 
        Việt Nam được các tổ chức về du lịch có uy tín đánh giá là một trong những điểm đến lý tưởng nhất.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="map-marked" size="3x" class="cyan-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Du lịch</h5>
      <p class="grey-text">Du lịch, tour du lịch Việt Nam, 
        các địa điểm du lịch nổi tiếng, bản đồ du lịch Việt Nam. 
        Bảo hiểm du lịch, blog du lịch, tiếng anh du lịch, tin tức du lịch ....
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Hỗ trợ</h5>
      <p class="grey-text">Chúng tôi giải đáp những thắc mắc của bạn, cũng như 
        hỗ trợ thêm kiến thức. Hỗ trợ giá tiền cho khách hàng tham khảo.
      </p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>

<section class="ftco-section ftco-no-pt mt-5">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center">
          <h2 class="mb-4">Web du lịch</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"  *ngFor="let item of vn | paginate:{id: 'listing',
        itemsPerPage:6,
        currentPage: page,
        totalItems:totalRecords}">
          <div class="project-wrap" >
            <img (click)=ViewBlogVn(item.id) class="img" src="../../../assets/images//{{this.item.image}}" height="250px">
            <div class="text p-4">
              <span class="price">{{item.price}} VND</span>
              <span class="days">Ngày đăng: {{item.dateSubmit | date : 'dd/MM/yyyy' }}</span>
              <h3><a (click)=ViewBlogVn(item.id)>{{item.name}}</a></h3>
              <ul>
                <li><span class="flaticon-mountains"></span>{{item.address}}</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <pagination-controls id="listing" style="text-align: center; " maxSize="5" directionLinks="true"
        (pageChange)="page=$event"></pagination-controls> -->
      </div>
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center">
          <a type="button" mdbBtn color="primary" mdbWavesEffect href="/blog" ><mdb-icon fab icon="blogger-b"></mdb-icon> Xem tất cả</a>
        </div>
      </div>

    </div>
</section>

<section class="ftco-section testimony-section bg-bottom" style="background-image: url(../../../assets/img/bg_3.jpg);">
    <div class="container">
      <!-- <div class="row justify-content-center pb-4">
        <div class="col-md-7 text-center heading-section ">
          <h2 class="mb-4"></h2>
        </div>
      </div> -->
      <carousel class="container" style="z-index: 1;">
          <div class="carousel-cell view overlay zoom" *ngFor="let item of vn">
              <img (click)=ViewBlogVn(item.id) src="../../../assets/images//{{this.item.image}} " > 
              
          </div>
      </carousel>
    </div>
</section>

<mdb-carousel class="carousel slide carousel-fade container mt-5" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let item of vn">
      <img class="d-block w-100" src="../../../assets/images//{{this.item.image}}" alt="First slide" height="500px">
    </mdb-carousel-item>
</mdb-carousel>


<section class="ftco-section ftco-no-pt mt-5">
  <div class="justify-content-center pb-4">
    <div class="col-md-12 heading-section text-center">
      <h2 class="mb-4">Web tin tức</h2>
    </div>
  </div>
  <div class="col-md mt-5">
    <div class="row">
      <div class="col-md-4 mb-5" *ngFor="let item of news | paginate:{id: 'listing',
      itemsPerPage:9,
      currentPage: page,
      totalItems:totalRecords}"  height="200px">
      <!-- Card -->
        <mdb-card style="background-image: url('../../../assets/images//{{this.item.image}}')">
  
          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="text-warning"><mdb-icon far icon="clock"></mdb-icon> {{item.dateSubmit | date : 'medium' }}</h5>
              <h3 class=" pt-2 text-white" ><strong>{{item.name}}</strong></h3>
              <!-- <p>{{item.content1}}</p> -->
              <a mdbBtn color="warning" mdbWavesEffect (click)=viewNews(item.id)>
                <mdb-icon fas icon="clone" class="left"></mdb-icon>Xem chi tiết
              </a>
            </div>
          </div>
          <!-- Content -->
        </mdb-card>
      <!-- Card -->
      </div>
    </div>
  </div>
  <div class="justify-content-center pb-4">
    <div class="col-md-12 heading-section text-center">
      <button type="button" mdbBtn color="primary" mdbWavesEffect href="/news" ><mdb-icon fab icon="blogger-b"></mdb-icon> Xem tất cả</button>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section bg-bottom" style="background-image: url(../../../assets/img/bg_3.jpg);">
  <div class="container">
    <!-- <div class="row justify-content-center pb-4">
      <div class="col-md-7 text-center heading-section ">
        <h2 class="mb-4"></h2>
      </div>
    </div> -->
    <carousel class="container" style="z-index: 1;">
        <div class="carousel-cell view overlay zoom" *ngFor="let item of news">
            <img (click)=viewNews(item.id) src="../../../assets/images//{{this.item.image}} " > 
            
        </div>
    </carousel>
  </div>
</section>
