<div class="view">
  <img src="../../../assets/images/thow_under-bridge-1024x635.jpg" class="img-fluid" alt="" width="100%">
  <div class="mask flex-center gradient-custom">
    <p class="white-text">strong overlay</p>
  </div>
</div>

<section class="text-center jumbotron">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">Why is it so great?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam.</p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="chart-area" size="3x" class="red-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Analytics</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
        aperiam
        minima assumenda
        deleniti hic.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Tutorials</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
        aperiam
        minima assumenda
        deleniti hic.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Support</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
        aperiam
        minima assumenda
        deleniti hic.
      </p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>

<section class="ftco-section ftco-no-pt mt-5">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center">
          <h2 class="mb-4">Tour Destination</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"  *ngFor="let item of vn | paginate:{id: 'listing',
        itemsPerPage:6,
        currentPage: page,
        totalItems:totalRecords}">
          <div class="project-wrap" >
            <img (click)=ViewBlogVn(item.id) class="img" src="../../../assets/images//{{this.item.image}}">
            <div class="text p-4">
              <span class="price">{{item.price}} VND</span>
              <span class="days">Ngày đăng: {{item.dateSubmit | date : 'dd/MM/yyyy' }}</span>
              <h3><a (click)=ViewBlogVn(item.id)>{{item.name}}</a></h3>
              <ul>
                <li><span class="flaticon-mountains"></span>{{item.address}}</li>
              </ul>
            </div>
          </div>
        </div>
        <pagination-controls id="listing" style="text-align: center; " maxSize="5" directionLinks="true"
        (pageChange)="page=$event"></pagination-controls>
      </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-bottom" style="background-image: url(../../../assets/img/bg_3.jpg);">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-7 text-center heading-section ">
          <h2 class="mb-4">Tourist Feedback</h2>
        </div>
      </div>
      <carousel class="container">
          <div class="carousel-cell view overlay zoom" *ngFor="let item of vn">
              <img class="" src="../../../assets/images//{{this.item.image}} " > 
              
          </div>
      </carousel>
    </div>
</section>

<mdb-carousel class="carousel slide carousel-fade container mt-5" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let item of vn">
      <img class="d-block w-100" src="../../../assets/images//{{this.item.image}}" alt="First slide" height="500px">
    </mdb-carousel-item>
</mdb-carousel>

<!-- Default form login -->
<form class="text-center border border-light p-5 container">

  <p class="h4 mb-4">Sign in</p>

  <!-- Email -->
  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

  <div class="d-flex justify-content-around">
    <div>
      <!-- Remember me -->
      <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
    </div>
    <div>
      <!-- Forgot password -->
      <a href="">Forgot password?</a>
    </div>
  </div>

  <!-- Sign in button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>

  <!-- Register -->
  <p>Not a member?
    <a href="">Register</a>
  </p>

  <!-- Social login -->
  <p>or sign in with:</p>

  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="twitter"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="linkedin"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="github"></mdb-icon>
  </a>

</form>
<!-- Default form login -->

<form class="container">
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form3Example1" class="form-control" />
        <label class="form-label" for="form3Example1">First name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" id="form3Example2" class="form-control" />
        <label class="form-label" for="form3Example2">Last name</label>
      </div>
    </div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form3Example3" class="form-control" />
    <label class="form-label" for="form3Example3">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form3Example4" class="form-control" />
    <label class="form-label" for="form3Example4">Password</label>
  </div>

  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      id="form2Example3"
      checked
    />
    <label class="form-check-label" for="form2Example3">
      Subscribe to our newsletter
    </label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>or sign up with:</p>
    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-primary btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
  </div>
</form>