<div class="view">
  <img src="../../../assets/images/thow_under-bridge-1024x635.jpg" class="img-fluid" alt="" width="100%">
  <div class="mask flex-center rgba-blue-light">
    <p class="white-text">strong overlay</p>
  </div>
</div>


<section class="text-center jumbotron">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">Why is it so great?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam.</p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="chart-area" size="3x" class="red-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Analytics</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
        aperiam
        minima assumenda
        deleniti hic.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon fas icon="book" size="3x" class="cyan-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Tutorials</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
        aperiam
        minima assumenda
        deleniti hic.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <mdb-icon far icon="comments" size="3x" class="orange-text"></mdb-icon>
      <h5 class="font-weight-bold mt-3">Support</h5>
      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
        aperiam
        minima assumenda
        deleniti hic.
      </p>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>

<section class="ftco-section ftco-no-pt mt-5">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center">
          <h2 class="mb-4">Tour Destination</h2>
        </div>
      </div>
      <div class="row">
        <!--data-->
        <div class="col-md-4"  *ngFor="let item of vn | paginate:{id: 'listing',
        itemsPerPage:6,
        currentPage: page,
        totalItems:totalRecords}">
          <div class="project-wrap" >
            <img (click)=ViewBlogVn(item.id) class="img" src="../../../assets/images//{{this.item.image}}">
            <div class="text p-4">
              <span class="price">{{item.price}} VND</span>
              <span class="days">Ngày đăng: {{item.dateSubmit | date : 'dd/MM/yyyy' }}</span>
              <h3><a (click)=ViewBlogVn(item.id)>{{item.name}}</a></h3>
              <!-- <p class="location"><span class="ion-ios-map"></span> {{item.name}}</p> -->
              <ul>
                <li><span class="flaticon-mountains"></span>{{item.address}}</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <pagination-controls id="listing" style="text-align: center; " maxSize="5" directionLinks="true"
        (pageChange)="page=$event"></pagination-controls> -->
        <!--data-->
      </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-bottom" style="background-image: url(../../../assets/img/bg_3.jpg);">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-7 text-center heading-section ">
          <h2 class="mb-4">Tourist Feedback</h2>
        </div>
      </div>
      <carousel class="container">
          <div class="carousel-cell view overlay zoom" *ngFor="let item of vn">
              <img class="" src="../../../assets/images//{{this.item.image}} " > 
              
          </div>
      </carousel>
    </div>
</section>

<mdb-carousel class="carousel slide carousel-fade container mt-5" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let item of vn">
      <img class="d-block w-100" src="../../../assets/images//{{this.item.image}}" alt="First slide" height="500px">
    </mdb-carousel-item>
</mdb-carousel>

