<div class="view">
  <img src="../../../assets/img/Cau-vang.jpg" class="img-fluid" alt="" width="100%">
  <div class="mask flex-center rgba-grey-light">
    <div class="text-white text-center py-5 px-4 my-5 ">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Tin tức</strong></h2>
        <p class="mx-5 mb-5">{{item.name}}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="site-section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel slide-one-item with-dots">
            <div><img [src]="urlImage" width="100%" alt="Image" class="img-fluid"></div>
          </div>
        </div>
        <div class="col-lg-5 pl-lg-5 ml-auto">
          <div class="mb-5">
            <h3 class="text-black mb-4">{{item.name}}</h3>
            <p>{{item.content1}}</p>
            <p>{{item.content2}}</p>
            <span class="mos">Ngày đăng: {{item.dateSubmit | date : 'EEEE, h:mm' }}, {{item.dateSubmit | date : 'dd/MM/yyyy' }}</span>
          </div>
        </div>
      </div>
    </div>
</div>