<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Cập nhật tin tức</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="">
        
        
        <!-- data -->
        <div>
          <a [routerLink]="['/admin/news']" mat-menu-item class="text-left"><mdb-icon fas icon="reply"></mdb-icon> Trở về</a>
      </div>
        <form class="" (ngSubmit)="Submit()" [formGroup]="this.formNews" *ngIf="this.formNews" style="color: black;">
            <div class="form-group">
                <label for="formGroupExampleInput">Tên tin tức</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="name" placeholder="Tên tin tức">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Nội dung</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="content1" placeholder="Nội dung">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Nội dung</label>
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="content2" placeholder="Nội dung">
            </div>
                <div class="form-group">
                    <label>Ảnh</label>
                    <div class="custom-file mb-3">
                      <input type="file"  class="form-control" accept="image/*" (change)="handleFileInput($event.target.files)" required>
                    </div>
                    <div class="form-ground" >
                      <img [src]="imageUrl" style="width:250px;height:200px"  >
                    </div>
                </div>
                <button type="submit"  mat-menu-item class="text-center">Cập nhật</button>
        </form>
        <!-- data -->


      </div>
    </div>
  </div>
