<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Quản lý tài khoản</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="">
  
          <!--data-->
          <div class="panel panel-primary">
            <div class="panel-body">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover text-center"  >
                <thead>
                  <tr>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>ảnh</th>
                    <th>xem</th>
                    <th>sửa</th>
                    <th>xóa</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let item of user">
                    <td>{{item.userName}}</td>
                    <td>{{item.emailId}}</td>
                    <td><img src="../../../assets/images//{{this.item.avatar}}" alt="" width="100" height="100"></td>
                    <td>
                      <button (click)=detailsUser(item.id) mat-menu-item class="text-center"><mdb-icon far icon="eye"></mdb-icon></button>
                    </td>
                    <td>
                      <button (click)=updateUser(item.id) mat-menu-item class="text-center"><mdb-icon fas icon="edit"></mdb-icon></button>
                    </td>
                    <td>
                      <button (click)=deleteUser(item.id) mat-menu-item class="text-center"><mdb-icon fas icon="trash-alt"></mdb-icon></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--data-->
  
  
      </div>
    </div>
  </div>
  
