<div class="view">
  <img src="../../../assets/img/Tổng-hợp-những-hình-ảnh-đẹp-về-biển-4.jpg" class="img-fluid" alt="" height="">
  <div class="mask flex-center rgba-blue-light">
    <div class="text-white text-center py-5 px-4 my-5 ">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>{{item.name}}</strong></h2>
        <p class="mx-5 mb-5">Giá vé: {{item.price}}
        </p>
        <a (click)="basicModal.show()" 
        mdbWavesEffect *ngIf="user" mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon>Đặt vé
        </a>
        <a (click)="basicModa.show()" 
        mdbWavesEffect *ngIf="!user" mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon>Đặt vé
        </a>
      </div>
    </div>
  </div>
</div>

<div class="site-section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel slide-one-item with-dots">
            <div><img [src]="urlImage" width="100%" alt="Image" class="img-fluid"></div>
          </div>
        </div>
        <div class="col-lg-5 pl-lg-5 ml-auto">
          <div class="mb-5">
            <h3 class="text-black mb-4">{{item.name}}</h3>
            <p>{{item.content}}</p>
            <p>Địa chỉ: {{item.address}}</p>             
            <p>Giá vé: {{item.price}}</p>
          </div>



          <button  type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect *ngIf="user">Đặt vé</button>

            <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModa.show()" mdbWavesEffect *ngIf="!user">Đặt vé</button>

            <div mdbModal #basicModa="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-full-height modal-right" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModa.hide()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Yêu cầu đăng nhập</h4>
                  </div>
                  <div class="modal-body">
                    <p>click nếu chưa có tài khoản</p>
                    <button type="button" mdbBtn color="secondary" routerLink="/register" class="waves-light">Đăng kí</button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModa.hide()" mdbWavesEffect>thoát</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container mt-5" >
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div >
                    <p><b>Bình luận</b></p>
                </div>
                <hr>
                <div class="bg-white p-2"*ngFor="let item of comments| paginate:{
                itemsPerPage:3,
                currentPage: page,
                totalItems:totalRecords}">
                    <div class="d-flex flex-row user-info">
                      <img class="rounded-circle" src="../../../../assets/images/{{item.user_id.avatar}}" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2">
                          <span class="d-block font-weight-bold name">{{item.user_id.userName}}</span>
                          <span class="date text-black-100" >
                            <a style="size: 10px;">{{item.datecomment | date : 'h:mm' }}, {{item.datecomment | date : 'dd/MM/yyyy' }}</a>
                        </span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">{{item.comment}}</p>
                    </div>
                </div>
                <form #CreateForm="ngForm" (ngSubmit)="Submit()" *ngIf="user">
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start">
                      <img class="rounded-circle" src="{{this.avatar}}" width="40">
                      <textarea class="form-control ml-1 shadow-none textarea"  [(ngModel)]="comment1.comment" name="commnet" required></textarea>
                    </div>
                    <div class="mt-2 text-right">
                      <button class="btn btn-primary btn-sm shadow-none" type="submit" [disabled]="CreateForm.form.invalid">Post comment</button>
                      <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="reset">Cancel</button>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
  </div>
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Đặt vé</h4>
      </div>
      <form #CreateForm="ngForm" (ngSubmit)="ngSubmit()">
          <div class="modal-body">
              <div class="md-form">
                <input type="date" id="input" class="form-control" name="date go" [(ngModel)]="oder1.dateGo" mdbInput>
                <label for="input">Ngày tham quan</label>
              </div>
          </div>
          <div class="container">
            <div class="md-form form-sm">
              <input mdbInput type="number" id="form2" class="form-control form-control-sm"name="amount" (change)="getTotalPrice()" [(ngModel)]="oder1.amount" required>
              <label for="form2" class="">Số lượng</label>
            </div>
          </div>
          <div class="container">
            <div class="md-form form-sm">
              <input mdbInput type="text" id="form3" class="form-control form-control-sm" name="price" [(ngModel)]="oder1.price" disabled>
              <label for="form3" class="">Giá tiền</label>
            </div>
          </div>
          <div class="container">
              <div class="md-form form-sm">
                <input mdbInput type="text" id="form1" class="form-control form-control-sm" name="number" [(ngModel)]="oder1.number" required>
                <label for="form1" class="">Số điện thoại</label>
              </div>
          </div>
          <br>
          <br>
          <div class="modal-footer">
              <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
              <button type="submit" mdbBtn color="primary" class="relative waves-light" [disabled]="CreateForm.form.invalid" mdbWavesEffect>Save changes</button>
          </div>
      </form>

      </div>
  </div>
  </div>