<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Quản lý tin tức</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="">
  

          <!--data-->
          <div class="">
            <a routerLink="/admin/createnews"  class="btn rounded-btn"><mat-icon>create</mat-icon></a>
          </div>
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead class="thead-dark">
                  <tr>
                    <th>Tên tin tức</th>
                    <th>nội dung</th>
                    <th>nội dung</th>
                    <th>Ngày đăng</th>
                    <th>Ảnh</th>
                    <th>Cập nhật</th>
                    <th>Xem chi tiết</th>
                    <th>Xóa</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of news">
                    <td>{{item.name}}</td>
                    <td><textarea name="" id="" cols="" rows="1">{{item.content1}}</textarea></td>
                    <td><textarea name="" id="" cols="" rows="1">{{item.content2}}</textarea></td>
                    <td>{{item.dateSubmit}}</td>
                    <td><img src="./../../../assets/images//{{this.item.image}}" alt="" width="15" height="25"></td>
                    <td class="">
                      <button  class="btn rounded-btn" (click)=UpdateBlog(item.id) >
                        <mat-icon>
                          update
                        </mat-icon>
                      </button>
                    </td>
                    <td>
                      <button  class="btn rounded-btn" (click)=ViewBlog(item.id)>
                        <mat-icon>
                          visibility
                        </mat-icon>
                      </button>
                    </td>
                    <td>
                        <button  class="btn rounded-btn" (click)=deleteBlog(item.id)>
                          <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
          <!--data-->
  
  
      </div>
    </div>
  </div>
