<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Sửa sản phẩm</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="">
        
        
        <!-- data -->
        <div class="">
          <a [routerLink]="['/admin/home']" mat-menu-item class="text-left"><mdb-icon fas icon="reply"></mdb-icon> Trở về</a>
      </div>
        <form class="" (ngSubmit)="Submit()" [formGroup]="this.formBlog" *ngIf="this.formBlog" style="color: black;">
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="name" placeholder="nameTravel">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="address" placeholder="address">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="price" placeholder="price">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" formControlName="content" placeholder="content">
            </div>
                <div class="form-group">
                  <label class="form-label" for="customFile">Ảnh</label>
                    <div class="custom-file mb-5 ">
                      <input type="file"  class="form-control" id="customFile" accept="image/*" (change)="handleFileInput($event.target.files)" required>
                    </div>
                    <div class="form-ground" >
                      <img [src]="imageUrl" style="width:250px;height:200px"  >
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" mat-menu-item class="text-center"><mdb-icon fas icon="plus"></mdb-icon> Sửa sản phẩm</button>
                  </div>
        </form>
        <!-- data -->


      </div>
    </div>
  </div>
