<div class="view">
    <img src="../../../assets/img/dia-diem-du-lich-nha-trang.jpg" class="img-fluid" alt="" height="250px" width="100%">
    <div class="mask flex-center rgba-blue-light">
        <div class="text-white text-center py-5 px-4 my-5">
            <div>
              <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Website du lịch</strong></h2>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ">
                <h2 class="mb-4">Địa điểm</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-5" *ngFor="let item of vn | paginate:{id: 'listing',
            itemsPerPage:8,
            currentPage: page,
            totalItems:totalRecords}">
                <div class="project-destination">
                    <a (click)=ViewBlogVn(item.id) class="img" style="background-image: url(../../../assets/images//{{this.item.image}});">
                        <div class="text">
                            <h3><a (click)=ViewBlogVn(item.id)><b><i>{{item.name}}</i></b></a></h3>
                            <span>{{item.price}} đ</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <pagination-controls id="listing" style="text-align: center; " maxSize="5" directionLinks="true"
        (pageChange)="page=$event"></pagination-controls>
    </div>
</section>