<div class="view">
  <img src="../../../assets/img/vithe.jpg" class="img-fluid" alt="" width="100%">
  <div class="mask flex-center rgba-blue-light">
    <div class="text-white text-center py-5 px-4 my-5">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Chào mừng bạn ghé thăm</strong></h2>
        <p class="mx-5 mb-5">Không chỉ là trang web du lịch, còn là trang web hỗ trợ cho bạn biết thêm về các địa danh nổi tiếng.
        </p>
        <!-- <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon>View project
        </a> -->
      </div>
    </div>
  </div>
</div>

<section class="contact-section my-5 container">
    <div class="card">
      <div class="row">
        <div class="">
          <form (ngSubmit) = "onSubmit()">
            <div class="card-body form" >
              <h3 class="mt-4"><mdb-icon fas icon="envelope" class="pr-2"></mdb-icon>Hộp thư:</h3>
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-name" class="form-control" [(ngModel)]="talk.name" name="Name" required mdbInput>
                    <label for="form-contact-name" class="">Tên của bạn</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-email" class="form-control" [(ngModel)]="talk.email" name="Email" required mdbInput>
                    <label for="form-contact-email" class="">Email của bạn</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-phone" class="form-control" [(ngModel)]="talk.number" name="Number" required mdbInput>
                    <label for="form-contact-phone" class="">Số điện thoại của bạn</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <textarea type="text" id="form-contact-message" class="form-control md-textarea" rows="3"
                      mdbInput [(ngModel)]="talk.message" name="Message" required></textarea>
                    <label for="form-contact-message">Nội dung</label>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" mdbBtn size="lg" color="blue" mdbWavesEffect>
              <mdb-icon far icon="paper-plane"></mdb-icon>
              Gửi
              <a href="http://localhost:4200/commenttravel"></a>
            </button>
          </form>
        </div>
      </div>
    </div>
</section>