<mdb-card style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/gradient1.jpg')">
    <div class="text-white text-center py-5 px-4 my-5">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Create your beautiful website with MDBootstrap</strong></h2>
        <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
          voluptatem,
          optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
          dolorum!
        </p>
        <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon>View project
        </a>
      </div>
    </div>
  </mdb-card>
<div class="jumbotron">
</div>
<div class="container" *ngIf="user">
    <h1>Kiểm tra thông tin tài khoản: {{user.userName}}</h1>
    <hr>
</div>
  <div class="card mb-3 container" style="max-width: auto">
    <div class="row no-gutters" *ngIf="user">
      <div class="col-md-4">
        <img src="../assets/images/{{this.urlavatar}}" width="300px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Tên tài khoản: {{user.userName}}</h5>
          <p class="card-text">enmail: {{user.emailId}}</p>
        </div>
      </div>
    </div>
  </div>
